body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
